{% extends 'usershome/base.html' %} {% load static %} {% block title %}About
Us{% endblock %} {% block content %}

<div class="about-us-area pt-100 pb-100">
	<div class="container">
		<div class="row align-items-center flex-row-reverse">
			<div class="col-lg-6">
				<div class="about-content text-center">
					<h2 data-aos="fade-up" data-aos-delay="200">Bestview</h2>
					<h1 data-aos="fade-up" data-aos-delay="300">About Us</h1>
					<p data-aos="fade-up" data-aos-delay="400">
						At Bestview, we are dedicated to providing our customers with the
						best selection of premium eyewear in India. Founded by Hamraz
						Hakeem, a university dropout turned entrepreneur, our company
						specializes in offering a diverse range of premium spectacles to
						suit every individual's unique needs and preferences. With a focus
						on quality, and style, we curate a collection of high-quality
						glasses that not only enhance your vision but also elevate your
						style.
					</p>
					<p class="mrg-inc" data-aos="fade-up" data-aos-delay="500">
						Whether you're looking for trendy frames, prescription lenses, or
						specialty eyewear, we've got you covered. Shop with confidence at
						Bestview and experience unparalleled customer service and
						satisfaction.
					</p>
					<div
						class="btn-style-3 btn-hover"
						data-aos="fade-up"
						data-aos-delay="600"
					>
						<a class="btn border-radius-none" href="{% url 'shop' %}"
							>Shop Now</a
						>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-img" data-aos="fade-up" data-aos-delay="400">
					<img
						src="{% static 'user/images/brand-logo/Lorna image.webp' %}"
						alt=""
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="testimonial-area pb-100">
	<div class="container">
		<div
			class="section-title-2 st-border-center text-center mb-75"
			data-aos="fade-up"
			data-aos-delay="200"
		>
			<h2>Testimonial</h2>
		</div>
		<div class="testimonial-active swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div
						class="single-testimonial"
						data-aos="fade-up"
						data-aos-delay="200"
					>
						<div class="testimonial-img">
							<img
								src="https://miro.medium.com/v2/resize:fit:743/0*S3e8HT3hN-_7tYWX.png"
								alt=""
							/>
						</div>
						<p>
							Ladies and gentlemen, it is my esteemed privilege to share my
							experience with Bestview. As an ambassador for this distinguished
							establishment, I am continually impressed by their unwavering
							commitment to excellence. From their meticulously curated
							selection of premium eyewear to their unparalleled dedication to
							customer satisfaction, Bestview exemplifies the epitome of
							sophistication and refinement. Their products transcend mere
							utility, embodying a fusion of style, craftsmanship, and
							innovation. I wholeheartedly endorse Bestview to discerning
							individuals seeking the pinnacle of elegance and quality in their
							eyewear choices. Rest assured, your journey with Bestview will be
							nothing short of exceptional.
						</p>
						<div class="testimonial-info">
							<h4>Andrew Tate (Influencer, Former Kickboxing Champion)</h4>
							<span>Ambassador</span>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div
						class="single-testimonial"
						data-aos="fade-up"
						data-aos-delay="400"
					>
						<p>
							Jose Zuniga here, and I'm thrilled to share my experience with
							Bestview. Their dedication to excellence in eyewear is unmatched.
							From their stylish designs to their impeccable craftsmanship,
							Bestview sets the bar high. I wholeheartedly recommend them to
							anyone looking for premium eyewear that blends fashion and
							function seamlessly.
						</p>
						<div class="testimonial-info">
							<h4>
								Jose Zuniga (Fashion Influencer, Founder of Content Academy)
							</h4>
							<span>Ambassador</span>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="single-testimonial">
						<p>
							I'm excited to share my thoughts on Bestview. Their eyewear
							collection embodies sophistication and style, offering a perfect
							blend of quality and elegance. I've been consistently impressed by
							their attention to detail and dedication to customer satisfaction.
							For those seeking premium eyewear that makes a statement, Bestview
							is the ultimate destination.
						</p>
						<div class="testimonial-info">
							<h4>Ali Abdaal (Youtuber, Ex-Doctor)</h4>
							<span>Ambassador</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div
	class="funfact-area bg-img pt-100 pb-70"
	style="background-image: url('{{ banner.image.url }}');"
>
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-lg-3 col-md-3 col-sm-6 col-6">
				<div
					class="single-funfact text-center mb-30"
					data-aos="fade-up"
					data-aos-delay="200"
				>
					<h2 class="count" style="color: black">540000</h2>
					<span style="color: black">Happy Customers</span>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-6">
				<div
					class="single-funfact text-center mb-30"
					data-aos="fade-up"
					data-aos-delay="400"
				>
					<h2 class="count" style="color: black">90</h2>
					<span style="color: black">Awards</span>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-6">
				<div
					class="single-funfact text-center mb-30"
					data-aos="fade-up"
					data-aos-delay="600"
				>
					<h2 class="count" style="color: black">10</h2>
					<span style="color: black">Total Items</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="team-area pt-100 pb-70">
	<div class="container">
		<div
			class="section-title-2 st-border-center text-center mb-75"
			data-aos="fade-up"
			data-aos-delay="200"
		>
			<h2>Top Clients</h2>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-12">
				<div
					class="single-team-wrap text-center mb-30"
					data-aos="fade-up"
					data-aos-delay="200"
				>
					<img
						src="https://yt3.googleusercontent.com/TuT4HjFsvarFnLuoKokU5Jr2Iay3D2d3Ee5Ktqdya4Zr9hDnfK4lpYbAhRU0R0qE8pjUZK32qrE=s900-c-k-c0x00ffffff-no-rj"
						alt=""
					/>
					<div class="team-info-position">
						<div class="team-info">
							<h3>Iman Gadzhi</h3>
							<span>Founder of Gadzhi, Educate</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-12">
				<div
					class="single-team-wrap text-center mb-30"
					data-aos="fade-up"
					data-aos-delay="400"
				>
					<img
						src="https://media.licdn.com/dms/image/v2/D5610AQGEIf-4HW2cOg/image-shrink_800/image-shrink_800/0/1707474672563?e=2147483647&v=beta&t=5psl8bJm2Ub4-Occxv9Mwuq3ebudT2vmEKatPbno2VY"
						alt=""
					/>
					<div class="team-info-position">
						<div class="team-info">
							<h3>Alex Costa</h3>
							<span>Founder of Forte Series</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-12">
				<div
					class="single-team-wrap text-center mb-30"
					data-aos="fade-up"
					data-aos-delay="600"
				>
					<img
						src="https://megaphone.imgix.net/podcasts/6df59fac-0add-11ee-a9ce-f768dd840fa4/image/36670396-1680107111478-bdbb9a1ca6807.jpg?ixlib=rails-4.3.1&max-w=3000&max-h=3000&fit=crop&auto=format,compress"
						alt=""
					/>
					<div class="team-info-position">
						<div class="team-info">
							<h3>Luke Belmar</h3>
							<span>Founder of Capital Club</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="subscribe-area pb-100">
	<div class="container">
		<div
			class="section-title-3 text-center mb-55"
			data-aos="fade-up"
			data-aos-delay="200"
		>
			<h2>Join With Us!</h2>
		</div>
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<div
					id="mc_embed_signup"
					class="subscribe-form"
					data-aos="fade-up"
					data-aos-delay="400"
				>
					<form
						id="mc-embedded-subscribe-form"
						class="validate subscribe-form-style"
						novalidate=""
						target="_blank"
						name="mc-embedded-subscribe-form"
						method="post"
						action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef"
					>
						<div id="mc_embed_signup_scroll" class="mc-form">
							<input
								class="email"
								type="email"
								required=""
								placeholder="Email Address"
								name="EMAIL"
								value=""
							/>
							<div class="mc-news" aria-hidden="true">
								<input
									type="text"
									value=""
									tabindex="-1"
									name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef"
								/>
							</div>
							<div class="clear">
								<input
									id="mc-embedded-subscribe"
									class="button"
									type="submit"
									name="subscribe"
									value="Subscribe Now"
								/>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
